.wrapper {
    padding: 7.35vh 22px;
}

.items {
    margin-top: 40px;
    margin-bottom: 30px;
}

#icon {
    height: 18px;
}

.prof_photo {
    margin: 0 auto;
    margin-top: 40px;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    background-image: url('./../../assets/no-photo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

input[type="file"] {
    display: none;
}

.del{
    position: absolute;
    bottom: 80px;
    color: red;
    background: transparent;
    border: 0;
    font-weight: 400;
}