<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div (click)="back()" class="header-back">
      <img src="../../assets/back.svg" *ngIf="showBack">
      <h2>Про нас</h2>
    </div>

    <img id="logo" src="../../assets/onecar1.svg" alt>
    <p>{{content?.about_text}}</p>

    <div class="line gap-11">
      <img src="../../assets/geo.svg" alt>
      <h6>{{content?.about_address}}</h6>
    </div>
    <div class="line mb-12">
      <img src="../../assets/clock.svg" alt>
      <h6>{{content?.about_time}}</h6>
    </div>

    <div class="line">
      <img src="../../assets/phone.svg" alt>
      <a href="tel:{{content?.about_phone_1}}">{{content?.about_phone_1}}</a>
    </div>
    <div class="line">
      <img src="../../assets/phone.svg" alt>
      <a href="tel:{{content?.about_phone_2}}">{{content?.about_phone_2}}</a>
    </div>
    
    <a target="_system" href="https://waze.com/ul?ll={{content?.about_coords}},249&navigate=yes">
      <div #map id="map"></div>
    </a>

    <a target="_system" href="https://waze.com/ul?ll={{content?.about_coords}},249&navigate=yes">
      <button class="btn">Прокласти маршрут</button>
    </a>
  </div>
</ion-content>
