.wrapper {
    padding: 8.58vh 22px;
}

.header-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    margin-bottom: 40px;

    p {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        letter-spacing: 0.02em;

        color: #4F4F4F;
    }

    .choosed {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;

        color: #000000;
    }

    border-bottom: 1px solid #4D5EA5;
}

.car-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 2px;

    .car_icon {
        width: 30px;
        background-size: cover;
        background-position: 50% 50%;
        height: 30px;
        border-radius: 100%;
    }
}

.wt {
    margin-top: 40px;
    background: #FFFFFF;
    border: 1px solid #4D5EA5;
    border-radius: 10px;
    color: #4D5EA5;
}

.card .photo h3{
    font-size: 14px;
}