<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="header-main">
      <img id="logo" src="../../assets/onecar1.svg">
      <div class="right">
        <img src="../../assets/bell2.svg" [routerLink]="['pushes']" *ngIf="token">
        <div id="prof" src="../../assets/no-photo.svg"
          [style.background-image]="'url(http://onecar.tech/uploads/'+user?.photo+')'" (click)="goProfile()"> </div>
      </div>
    </div>

    <swiper-container #swiperComponent autoplay="true">
      <swiper-slide *ngFor="let banner of banners"><img id="banner"
          src="http://onecar.tech/uploads/{{banner.image}}"></swiper-slide>
    </swiper-container>

    <h4>{{content?.home_header_1}}</h4>
    <p>{{content?.home_text_1}}</p>

    <button class="btn" [routerLink]="['servadd']">Записатися</button>

    <h2>{{content?.home_header_2}}</h2>
    <p>{{content?.home_text_2}}</p>

    <div class="car-cards">
      <div class="card" *ngFor="let car of cars" [ngClass]="{'choosed': car.selected }"
        [routerLink]="['servadd', car.id]">
        <!-- <img src="../../assets/car-cropped.svg" *ngIf="car.photo == 'no_photo.svg'">
        <div class="car_img" *ngIf="car.photo != 'no_photo.svg'"
          [style.background-image]="'url(http://onecar.tech/uploads/'+car.photo+')'">
        </div> -->
        <p>
          {{car.brand}}<br>
          {{car.model}}<br>
          {{car.number}}
        </p>
      </div>
    </div>

    <h2>{{content?.home_header_3}}</h2>
    <p>{{content?.home_text_3}}</p>
    <span class="span" (click)="goProfile()">Перейти в Профіль <img src="../../assets/go.svg"></span>

    <ng-container *ngIf="pushes.length > 0">

      <h2>{{content?.home_header_4}}</h2>
  
      <div [routerLink]="['/tabs/tab2/pushes']" class="pushes">
        <div class="push" *ngFor="let push of pushes">
          <p>{{push.text}}</p>
          <img src="../../assets/bell-yel.svg">
        </div>
      </div>
      <p class="mb-40" style="margin-bottom: 40px; margin-top: 122px;">{{content?.home_text_4}}</p>

    </ng-container>

    <h2>{{content?.home_header_5}}</h2>
    <div class="blocks">
      <div class="block">
        <img [src]="'http://onecar.tech/uploads/'+content?.home_card_image_1">
        <h2>{{content?.home_card_header_1}}</h2>
        <p>{{content?.home_card_text_1}}</p>
      </div>
      <div class="block">
        <img [src]="'http://onecar.tech/uploads/'+content?.home_card_image_2">
        <h2>{{content?.home_card_header_2}}</h2>
        <p>{{content?.home_card_text_2}}</p>
      </div>
      <div class="block">
        <img [src]="'http://onecar.tech/uploads/'+content?.home_card_image_3">
        <h2>{{content?.home_card_header_3}}</h2>
        <p>{{content?.home_card_text_3}}</p>
      </div>
      <div class="block">
        <img [src]="'http://onecar.tech/uploads/'+content?.home_card_image_4">
        <h2>{{content?.home_card_header_4}}</h2>
        <p>{{content?.home_card_text_4}}</p>
      </div>
    </div>

    <div class="about-bg">
      <h3>{{content?.home_header_6}}</h3>
      <h6 [innerHTML]="content?.home_text_6"></h6>
    </div>
  </div>

</ion-content>